.jumboton {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
}